body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    overflow: hidden;
  }
  
  .bola {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    animation: moverBola 4s linear infinite;
  }
  
@keyframes moverBola {
    0% {transform: translate(0, 0);}
    25% {transform: translate(400%, 0);}
    50% {transform: translate(400%, 400%);}
    75% {transform: translate(0, 400%);}
    100% {transform: translate(0, 0);}
}
  