@import 'variables.scss';

//Defino el mixin
@mixin layout($color, $size: 14px) {
  color: $color;
  background-color: $invertido;
  font-size: $size;
  margin: $size;
  padding: $size;
  line-height: $size * 1.5;
  border: 5px solid $color;
}

//Reseteo (normalize)
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

//Aplico la letra y el color del layout
body {
  font-family: Verdana, sans-serif;
}

#container {
  @include layout($rojo);

/* Media */
//Estilos de la web con responsive llamando a layout
  @media screen and (max-width: $small) {
    @include layout($azul, 16px);
  }

  @media screen and (min-width: $medium) {
    @include layout($verde, 20px);
  }
}