/* Formulario */
.estado_persona-option {
    display: inline-block;
    margin-right: 10px;
}

form {
    padding-bottom: 10px;
    border: 1px solid #3e838c;
    border-radius: 5px;
}

form div {
    padding: 5px;
}

/* RIA Correo */

#emailError {
    color: red;
    display: none;
}

/* RIA Teléfono */
#telefonoError {
    color: red;
    display: none;
}