/* Cabecera */
.cabecera {
    padding-top: 5rem;
}

/* Article */

.principal {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

/* Mapa */
.mapa {
    background-color: #063940;
}


.mapa img {
    margin-top: 1rem;
}