/* Normalize y Autoprefixer (Ya lo hace bootstrap, por lo que no sería necesario */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* ************ General ************ */

:root{
  --colorFondo: rgb(0,0,0);
  --colorLetra: #fff;
}

main {
    /* Editado de https://github.com/CodeCrafter11/css-projects/tree/main/animated-background */
  background: -o-linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #d911f2 66%, #ffa079 100%);
  background: linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #d911f2 66%, #ffa079 100%);
  background-size: 400% 400%;
  -webkit-animation: coloresFondo 15s ease infinite;
  animation: coloresFondo 15s ease infinite;
  min-height: calc(100vh - 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
  position: relative;
}

footer{
  background-color: var(--colorFondo);
  color: var(--colorLetra);
  font-family: 'Abel';
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lobster';
    font-size: 18px;
    max-width: 100%;
}

/* Estilo animación párrafos (desbanecer) y productos de productos.html */
.aparecer {
  -webkit-animation-name: aparecer;
  animation-name: aparecer;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

 @-webkit-keyframes aparecer {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }

 @keyframes aparecer {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 

/* Estilo animación de los títulos */
.animado {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: moverTitulos 2s ease-out forwards;
          animation: moverTitulos 2s ease-out forwards;
}

/* Estilo para la imagen-logo de la web*/
.logo {
  width: 150px;
}
  /* Llamos a la animaión del logo */
.logo:hover {
  -webkit-animation: girarLogo 3s;
          animation: girarLogo 3s;
}

/* Estilo de fuente para el navbar */
nav{
    font-family: 'Lobster', sans-serif;
}

/* Estilo de fuente para el dropdown */
nav li div{
    font-family: 'Abel', sans-serif;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
}

.redes {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .redes li {
    display: inline;
    margin-right: 5px;
  }
  
  .copy {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* Efecto SKEW al pasar el ratón por el copyright */
  .copy:hover{
    -webkit-transform: skew(20deg);
        -ms-transform: skew(20deg);
            transform: skew(20deg);
  }

/* ************ Página inico.html ************ */

/* Article Izquierda Inicio */
.principalIz {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

/* Carousel Derecha Inicio */
.principalDc {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

/* Texto Mapa */
.pMapa {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.pMapa ul {
  list-style: none;
}

/* ************ Página somos.html ************ */

 /* Carta de los trabajadores */
.principalC{
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.carta {
  background-color: var(--colorLetra);
  color: var(--colorFondo);
  margin: 10px;
}

/* Estilo animación de las cartas del staff */
.animadoCarta1 {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: moverCartas 8s ease-out forwards;
          animation: moverCartas 8s ease-out forwards;
}

.animadoCarta2 {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: moverCartas 6s ease-out forwards;
          animation: moverCartas 6s ease-out forwards;
}

.animadoCarta3 {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: moverCartas 4s ease-out forwards;
          animation: moverCartas 4s ease-out forwards;
}

.animadoCarta4 {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: moverCartas 2s ease-out forwards;
          animation: moverCartas 2s ease-out forwards;
}

/* ************ Página productos.html ************ */
/* Lista de Productos */

.imgProducto {
  height: 300px;
  width: 400px;
}

.foto {
  position: relative;
  margin-top: 10px;
}

.foto img {
  display: block;
  margin: 0 auto;
}

.foto .titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: transparent;
}

.foto a:hover img {
  opacity: 0.7;
}

.foto a:hover .titulo {
  color: white;
}

/* Promociones */
.promociones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}

/* Llamo a la animación del título de las promociones */
.textoPromos {
  position: relative;
  -webkit-animation: textoPromocion 7s linear infinite;
          animation: textoPromocion 7s linear infinite;
}

/* Transición div promos */
.promocion {
  border: 5px solid var(--colorLetra);
  padding: 20px;
  width: 30%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

/* Aplico fondos diferentes a cada promoción con nth-child */
.promocion:nth-child(1) {
  background-color: lightcoral;
}

.promocion:nth-child(2) {
  background-color: lightgreen;
}

.promocion:nth-child(3) {
  background-color: lightsalmon;
}

/* Aumento su tamaño al pasar el ratón por encima */
.promocion:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.promocion p {
  font-size: 14px;
  color: var(--colorFondo);
}

/* Estilo para las imágenes */
.promocion img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}


/* ************ @Medias ************ */
@media (min-width: 768px) { /* Breakpoint para pantallas medianas */
  h1, h2, h3, h4, h5, h6 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }

  .logo{
    width: 200px;
  }

  .nav-link{
    font-size:22px;
  }

  .auxDerecha{
    border-left: 1px solid grey;
  }
}

@media (min-width: 992px) { /* Breakpoint para pantallas grandes */
  h1, h2, h3, h4, h5, h6 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }

  .nav-link{
    font-size:24px;
  }

  .logo{
    width: 250px;
  }
}

/********** Keyframes **********/

/* Animación main (con -webkit- t -moz- */
/* Editado de https://github.com/CodeCrafter11/css-projects/tree/main/animated-background */
@-webkit-keyframes coloresFondo {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes coloresFondo {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

/* Animación Logo (rorate) */
@-webkit-keyframes girarLogo {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes girarLogo {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

/* Animación título promociones */
@-webkit-keyframes textoPromocion {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}
@keyframes textoPromocion {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}

/* Animación de las cartas */
@-webkit-keyframes moverCartas {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moverCartas {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* Animación títulos h1, h2, h3, h4, h5 */
@-webkit-keyframes moverTitulos {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moverTitulos {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}