/* Article Izquierda Inicio */
.principalIz {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

/* Carousel Derecha Inicio */
.principalDc {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

/* Texto Mapa */
.pMapa {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.pMapa ul {
  list-style: none;
}

/* Footer */
.redes {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.redes li {
  display: inline;
  margin-right: 10px;
}

.copy {
  padding-top: 10px;
  padding-bottom: 10px;
}