/* Article Izquierda Inicio */
.principalIz {
  position: relative;
  padding: 0;
}

/* Carousel Derecha Inicio */
.principalDc {
  padding: 0;
}

/* Botón Reserva */
.reservar {
    background-color: #222;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: 150px;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    touch-action: manipulation;
    width: 100%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .reservar:hover,
  .reservar:focus {
    opacity: .75;
  }
  
  .reservar a{
      text-decoration: none;
      color: inherit;
  }