/* Article Izquierda Inicio */
.principalIz {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

/* Carousel Derecha Inicio */
.principalDc {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

/* Texto Mapa */
.pMapa {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.pMapa ul {
  list-style: none;
}

/* Footer */
.redes {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.redes li {
  display: inline;
  margin-right: 10px;
}

.copy {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Botón Reserva */

/*
.reservar {
    background-color: #222;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: 150px;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    touch-action: manipulation;
    width: 100%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .reservar:hover,
  .reservar:focus {
    opacity: .75;
  }
  
  .reservar a{
      text-decoration: none;
      color: inherit;
  }
  */