/* Carta de los trabajadores */
.principalC{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.carta {
    background-color: lightgrey;
    color: black;
    margin: 10px;
}

/* @media */