/* Normalize */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* General */
body{
    background-color: black;
    color: white;
    font-family: 'Abel';
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lobster'
}

nav{
    font-family: 'Lobster', sans-serif;
}

/* Estilo de fuente para el dropdown */
li div{
    font-family: 'Abel', sans-serif;
}

/* Footer */
.redes {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .redes li {
    display: inline;
    margin-right: 10px;
  }
  
  .copy {
    padding-top: 10px;
    padding-bottom: 10px;
  }