/* Normalize */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* General */
body{
    background-color: black;
    color: white;
    font-family: 'Abel';
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lobster';
}

nav{
    font-family: 'Lobster', sans-serif;
}

/* Estilo de fuente para el dropdown */
li div{
    font-family: 'Abel', sans-serif;
}

/* Footer */
.redes {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .redes li {
    display: inline;
    margin-right: 5px;
  }
  
  .copy {
    padding-top: 10px;
    padding-bottom: 10px;
  }


/* @Medias */
@media (min-width: 769px) {
    body {
      font-size: 16px; /* Cambia el tamaño de fuente a 16px */
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 24px; /* Cambia el tamaño de fuente de los encabezados a 24px cuando la pantalla es igual o más ancha que 768px */
      }
}

@media (min-width: 993px) {
    body {
      font-size: 20px; /* Cambia el tamaño de fuente a 18px */
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 28px; /* Cambia el tamaño de fuente de los encabezados a 24px cuando la pantalla es igual o más ancha que 768px */
      }
  }