/* Normalize */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* General */
body{
    background-color: black;
    color: white;
    font-family: 'Abel';
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lobster'
}

/* navbar (fix para el botón del menú)*/
.navmenu {
    padding-right: 10px;
}

nav{
    font-family: 'Lobster', sans-serif;
}

/* Estilo de fuente para el dropdown */
li div{
    font-family: 'Abel', sans-serif;
}