/* Normalize del tio del ejemplo */
html {
  box-sizing: border-box;
}

/* Configuramos estilos */

*, *:before, *:after {
    box-sizing: inherit;
  }

  /* Cuerpos */
  body {
    font-family: sans-serif;
    margin: 0;
    background: #3494E6;
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
    background: linear-gradient(to right, #EC6EAD, #3494E6);
  }

  /* Links */
  a {
    color:white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background:rgba(0,0,0,0.2);
    padding:20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition:all 0.5s; /* Animaciones del tío, como en el ejemplo */
  }
  
  a:hover {
    background:rgba(0,0,0,0.3);
  }
  
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding:50px;
  }
  
  
  /* Configuramos cajas */
  .flex-nav ul {
    border: 1px solid black;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .flex-nav li {
    flex: 3;
  }
  
  .flex-nav .social {
    flex: 1;
  }
  
  /* Animaciones -- Las del tío */
  @media all and (max-width:1000px) {
    .flex-nav ul {
      flex-wrap: wrap;
    }
  
    .flex-nav li {
      flex: 1 1 50%;
    }
  
    .flex-nav .social {
      flex: 1 1 25%;
    }
  }
  
  @media all and (max-width:500px) {
    .flex-nav li {
      flex-basis: 100%;
    }
  }